body {
    /* font-family: 'Caprasimo', cursive; */
    /* font-family: 'Candal', sans-serif; */
    font-family: 'Krona One', sans-serif;
}

ul {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    color: #fff;
    outline: none;
    cursor: default;
    text-decoration: none;
}

.nav {
    height: 5rem;
    display: flex;
    padding: 0 2.5rem;
    align-items: center;
    background-color: #f15156;
    justify-content: space-between;
}

.nav__icon {
    font-size: 1.8rem;
}

.nav__menu {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 2.5em;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    transition: clip-path .5s;
    background-color: #11001c;
    clip-path: circle(0 at top left);

    /* right: 0;
    bottom: 0;
    display: grid;
    place-items: center; */
}

.nav__menu:target {
    clip-path: circle(150% at top left);
}

.nav__menu li {
    margin-bottom: 3rem;
}

.nav__menu li:last-child {
    margin-bottom: 0;
}

.nav__link {
    font-size: 1.8rem;
}

.nav__link-close {
    top: 2.5rem;
    right: 2.5rem;
    font-size: 2rem;
    position: absolute;
}






